:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: #e99401;
  margin: 5rem 0;
}

.header {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0.7)
    ),
    url("../img/header.jpg");
  background-size: cover;
  background-position: 50%;
  padding: 5rem 0;
  position: relative;
}

.header__guitar {
  display: none;
}

@media (min-width: 992px) {
  .header__guitar {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    /* animation-name: mostrarimage; */
    /* animation-duration: 1s; */
    /* animation-delay: 0s; */
    /* animation-timing-function: ease-in-out; */
    /* animation-iteration-count: 1; */

    animation: 1s ease-in-out 0s 1 mostrarimage;
  }
}

@keyframes mostrarimage {
  0% {
    opacity: 0;
    translate: -10rem 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  width: 30rem;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 758px) {
  .nav {
    margin-top: 0;
  }
}

.nav__link {
  color: var(--blanco);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}

.nav__link:hover {
  background-color: var(--primary);
}

.model {
  color: var(--blanco);
  margin-top: 5rem;
  text-align: center;
}

@media (min-width: 758px) {
  .model {
    text-align: left;
    width: 50%;
  }
}

.model__title {
  font-size: 8rem;
}

.model__price {
  font-size: 6rem;
  color: var(--primary);
  font-weight: 900;
  line-height: 0;
}

.model__link {
  margin-top: 2rem;
  text-decoration: none;
  padding: 1rem 5rem;
  border: 2px solid var(--primary);
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

.model__link:hover {
  background-color: var(--primary);
}

.products__grid {
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .products__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .products__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
  align-items: center;
}

.product__nombre {
  font-size: 3rem;
  text-transform: uppercase;
}

.product__description {
  font-size: 1.6rem;
}

.product__price {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
}

.product__enlace {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  color: var(--negro);
  padding: 1rem 5rem;
  border: 1px solid var(--primary);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 300ms;
}

.product__enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.product__formulario {
  display: flex;
  flex-direction: column;
}

.product__label {
  font-size: 2.2rem;
  margin-right: 1rem;
}

.product__cantidad {
  border: 2px solid var(--primary);
  padding: 1rem;
  text-align: center;
}

.product__cantidad:focus-visible {
  outline: 2px solid var(--primary);
  border: none;
}

.product__agregar-carrito {
  margin-top: 3rem;
  display: block;
  background-color: var(--primary);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  padding: 2rem 5rem;
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}

.product__agregar-carrito:hover {
  background-color: var(--negro);
  cursor: pointer;
}

.courses {
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.65),
      rgb(0 0 0 / 0.65)
    ),
    url("../img/courses_bg.jpg");
  padding: 10rem 0;
  margin-top: 10rem;
  background-size: cover;
  background-position: 50%;
}

@media (min-width: 768px) {
  .courses__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.courses__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .courses__content {
    grid-column: 2 / 3;
  }
}

.courses__texto {
  color: var(--blanco);
  text-align: center;
  font-size: 2.4rem;
}

.courses__enlace {
  color: var(--blanco);
  margin-top: 2rem;
  display: inline-block;
  border: 2px solid var(--primary);
  text-decoration: none;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 300ms;
}

.courses__enlace:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.blog__grid {
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .blog__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog__grid--pagina {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post {
  max-width: 80rem;
  margin: 0 auto;
}

.post__content {
  padding: 2rem;
}

.post__title {
  font-weight: 400;
  font-size: 2.8rem;
  margin: 0;
  line-height: 1.2;
}

.post__data {
  font-size: 1.6rem;
  color: var(--primary);
}

.post__link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  color: var(--negro);
  padding: 1rem 5rem;
  border: 1px solid var(--primary);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 300ms;
}

.post__link:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.post__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  font-size: 1.6rem;
}

.footer {
  margin-top: 5rem;
  background-color: var(--negro);
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__nav {
    flex-direction: row;
    gap: 2rem;
  }
}

.footer__link {
  font-size: 2rem;
  color: var(--blanco);
  text-decoration: none;
  font-weight: 700;
}

.footer__link:hover {
  color: var(--primary);
}

.footer__copyright {
  font-size: 2rem;
  color: var(--blanco);
  font-weight: 700;
  text-align: center;
}

.about__grid {
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 15px;
}

.auth__input {
  font-size: 1.6rem;
  min-width: 320px;
  border: 1px solid var(--primary);
  padding: 10px 15px;
}

.auth__button {
  font-size: 1.6rem;
  min-width: 320px;
  margin-top: 2rem;
  padding: 10px 15px;
  border: 1px solid var(--primary);
  text-transform: uppercase;
  background: #fff;
  transition-property: background-color;
  transition-duration: 300ms;
}

.auth__button:hover {
  background-color: var(--primary);
  color: var(--blanco);
}

.auth__text {
  text-align: center;
}

.auth__text_link {
  text-decoration: none;
  color: var(--primary);
}

/* Стили для корзины */
.cart {
  padding: 20px;
}

.cart__items {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item__name {
  font-weight: 700;
  flex-grow: 1;
}

.item__info {
  display: flex;
  align-items: center;
}

.item__quantity {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Обеспечивает небольшой отступ между количеством и ценой */
}

.item__quantity button {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.item__quantity button:hover {
  background-color: #d4d4d4;
}

.item__price {
  font-weight: 700;
}
